[user]
	name = Kozaki, Tsuneaki
	email = kozaki.tsuneaki@gmail.com
[color]
        ui = auto
[core]
        quotepath = false
        editor = emacsclient
        autocrlf = input
        safecrlf = true
        excludesfile = /home/kozaki/.gitignore
[alias]
        co = checkout
	      hist = log --pretty=format:\"%C(yellow)%h%Creset %Cblue%ad%Creset %Cgreen[%an]%Creset %s%Cred%d%Creset\" --graph --date=short
        ci = commit -v
        tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
        st = status
        pl = '!git pull && git submodule update --init'
        br = branch
        type = cat-file -t
        dump = cat-file -p
[github]
        user = koko-u
        token = 2b0c9bb39ea65b4ffeb29a076c6c19cd
[merge]
        summary = true
        tool    = "p4merge"
[mergetool "p4merge"]
        cmd = p4merge "$PWD/$BASE" "$PWD/$LOCAL" "$PWD/$REMOTE" "$PWD/$MERGED"
        keepBackup = false
        trustExitCode = false